<%- include("common/header"); -%>
    <h1>Contact Us</h1>
    <p>
        <%= startingContent %>
    </p>
    <H3>Please visit my <a href="https://github.com/Nileshunique">Github Page</a> atleast once</H3>
    <p>Mail me to : <a href="mailto:nilesh.document1@gmail.com">nilesh.document1@gmail.com</a></p>
    <%- include("common/footer"); -%>